#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define NUM  2
#define ADJ  3
#define FUN  4

/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <150>;
                        quick-tap-ms = <150>;
                        require-prior-idle-ms = <125>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };

                bspc_del: backspace_delete {
                        compatible = "zmk,behavior-mod-morph";
                        label = "BACKSPACE_DELETE";
                        #binding-cells = <0>;
                        bindings = <&kp BACKSPACE>, <&kp DELETE>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <(MOD_RSFT)>;
                };
        };
        
        keymap {
                compatible = "zmk,keymap";
                
                default_layer {
                       bindings = <
                                &kp Q &kp W       &kp E      &kp R      &kp T   &kp Y &kp U       &kp I      &kp O       &kp P
                                &kp A &hm LCTRL S &hm LALT D &hm LGUI F &kp G   &kp H &hm RGUI J  &hm RALT K &hm RCTRL L &kp SEMI
                                &kp Z &kp X       &kp C      &kp V      &kp B   &kp N &lt ADJ M &kp COMMA  &kp DOT     &kp FSLH
                                                        &none &mt NUM &kp LSHFT   &lt NAV SPACE &none &kp GRAVE
                        >;
                };

                navigation_layer {
                        bindings = <
                                &kp N1    &kp N2    &kp N3   &kp N4   &kp N5     &kp N6   &kp N7        &kp N8      &kp N9    &kp N0
                                &kp MINUS &kp LCTRL &kp LALT &kp LGUI &kp PLUS   &kp LEFT &kp DOWN      &kp UP      &kp RIGHT &kp SQT
                                &kp LBKT  &kp RBKT  &none    &none    &none      &kp HOME &kp PAGE_DOWN &kp PAGE_UP &kp END   &kp BSLH
                                                     &trans &trans &trans   &trans &trans &trans
                        >;
                };

                // TODO: Update this with macros and common shortucts
                number_layer {
                        bindings = <
                                &none &none &none &none &none   &none &none &none &none &none
                                &none &none &none &none &none   &none &none &none &none &none
                                &none &none &none &none &none   &none &none &none &none &none
                                         &trans &trans &trans   &trans &trans &trans
                        >;
                };

                // TODO: Update this with macros and common shortucts
                function_layer {
                        bindings = <
                                &none &none &none &none &none   &none &none &none &none &none
                                &none &none &none &none &none   &none &none &none &none &none
                                &none &none &none &none &none   &none &none &none &none &none
                                         &trans &trans &trans   &trans &trans &trans
                        >;
                };

                adjust_layer {
                        bindings = <
                                &kp C_BKLT_TOG   &kp C_BRI_DN &kp C_BRI_UP &none &none   &none &none &none &none &none
                                &kp C_MUTE       &kp C_VOL_DN &kp C_VOL_UP &none &none   &none &none &none &none &none
                                &kp C_PLAY_PAUSE &kp C_PREV   &kp C_NEXT   &none &none   &none &none &none &none &none
                                                                     &none &none &none   &none &none &none
                        >;
                };
        };
};